# C++ build directory with CMake and VS Code.
.build/

# Terraform local state and lock files.
terraform.tfstate
.terraform/

# Maven output files
**/java/target/

# Python virtual environment
.venv/

# Visual Studio Code configuration files
.vscode/

# The golang benchmark binary
w1r3/go/w1r3
