gitpython==3.1.45
google-cloud-storage==3.4.0
grpcio==1.74.0
protobuf==4.25.8
opentelemetry-api==1.36.0
opentelemetry-sdk==1.36.0
opentelemetry-exporter-gcp-monitoring==1.6.0a0
opentelemetry-exporter-gcp-trace==1.6.0
opentelemetry-resourcedetector-gcp==1.6.0a0
opentelemetry-instrumentation-requests==0.45b0
