name: Workload 7 Cloud Function

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./workload_7_postprocess_fn/requirements.txt
      - name: Lint with black
        run: |
          python -m black ./workload_7_postprocess_fn
      - name: Test with pytest
        run: |
          pytest ./workload_7_postprocess_fn